<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="ru.navga228.springcourse"/>

    <!--<bean id="musicBean"
          class="ru.navga228.springcourse.ClassicalMusic"
          scope="prototype"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          factory-method="getClassicalMusic"
    >
    </bean>-->

    <!-- Внедрение зависимостей через конструктор
    <bean id="musicPlayer"
          class="ru.navga228.springcourse.MusicPlayer">
            <constructor-arg ref="musicBean"/>
    </bean> -->

    <!-- Внедрение зависимостей через сееттер
    <bean id="musicPlayer"
          class="ru.navga228.springcourse.MusicPlayer">
        <property name="music" ref="musicBean"/>
    </bean> -->

    <!-- Внедрение числовых зависимостей
    <bean id="musicPlayer"
          class="ru.navga228.springcourse.MusicPlayer">
        <property name="music" ref="musicBean"/>
        <property name="name" value="some name"/>
        <property name="volume" value="50"/>
    </bean> -->

    <!-- Внедрение числовых зависимостей с файла -->
    <!--<context:property-placeholder location="classpath:musicPlayer.properties"/>--> <!-- Указываем файл с которого будут браться значения.
    В этом файле данные хранятся как ключ значение-->

    <!--<bean id="musicPlayer"
          class="ru.navga228.springcourse.MusicPlayer"
          scope="prototype"
    > &lt;!&ndash; Указываем область видимости бинов в scope. Prototype каждый раз создает новый бин при вызове getBean &ndash;&gt;
        <property name="music" ref="musicBean"/>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>-->

</beans>